<%-

        local fs = require "nixio.fs"
	    local io = require "io"

        mode = luci.dispatcher.context.requestpath                                                            
        mode = tonumber(mode[#mode] ~= "iptables" and mode[#mode]) or 1

        if (mode == 1) then
          file = io.open("/var/log/gw_debug.log", "rb")
          if file then
            os.execute("cat /var/log/gw_debug.log > /tmp/reportdata")
            file:close()
          end
        elseif (mode == 2) then
          file = io.open("/var/log/gw_report.log", "rb")
          if file then
            os.execute("cat /var/log/gw_report.log > /tmp/reportdata")
            file:close()
          end
        else
          file = io.open("/var/log/pktfwd.log", "rb")
          if file then
            os.execute("cat /var/log/pktfwd.log > /tmp/reportdata")
            file:close()
          end
        end

        file = io.open("/tmp/reportdata", "rb")
        if file then
          sdata = file:read("*a")
          file:close()
        else
          sdata = "is the pkt_lora_fwd runing?"
        end
-%>

<%+header%>

<style type="text/css">
	span:target {
		color: blue;
		text-decoration: underline;
	}
</style>

<h2 name="content"><%:Lora Status%></h2>
<br />

<ul class="cbi-tabmenu">
        <li class="cbi-tab<%= mode ~= 1 and "-disabled" %>"><a href="<%=url("admin/gateway/lgwlog/1")%>"><%:Debug%></a></li>
        <li class="cbi-tab<%= mode ~= 2 and "-disabled" %>"><a href="<%=url("admin/gateway/lgwlog/2")%>"><%:Report%></a></li>
        <li class="cbi-tab<%= mode ~= 3 and "-disabled" %>"><a href="<%=url("admin/gateway/lgwlog/3")%>"><%:RxTxJson%></a></li>
</ul>

<form method="post" action="<%=url("admin/gateway/lgwlog_action")%>"">              
  <input type="hidden" name="family" value="<%=mode%>" />
</form>

<div id="content_syslog">
  <textarea readonly="readonly" wrap="off" rows="<%=sdata:cmatch("\n")+2%>" id="syslog"><%=sdata:pcdata()%></textarea>
</div>

<%+footer%>
