<%-

        local fs = require "nixio.fs"
	    local io = require "io"

        mode = luci.dispatcher.context.requestpath                                                            
        mode = tonumber(mode[#mode] ~= "iptables" and mode[#mode]) or 1

        if (mode == 1) then
          os.execute("cat /etc/lora/desc > /tmp/reportdata")
        elseif (mode == 2) then
          os.execute("logread -e REPORT | tail -n 26 | awk -F '~' '{print $2}' > /tmp/reportdata")
        elseif (mode == 3) then
          os.execute("logread -e RXTX | tail -n 26 | awk -F '~' '{print $2}' > /tmp/reportdata")
        elseif (mode == 4) then
          os.execute("logread -e ERROR | awk -F '~' '{print $2}' > /tmp/reportdata")
        end

        file = io.open("/tmp/reportdata", "rb")
        if file then
          sdata = file:read("*a")
          file:close()
        else
          sdata = "is the service runing?"
        end
-%>

<%+header%>

<style type="text/css">
	span:target {
		color: blue;
		text-decoration: underline;
	}
</style>

<h2 name="content"><%:Logread%></h2>
<br />

<ul class="cbi-tabmenu">
        <li class="cbi-tab<%= mode ~= 1 and "-disabled" %>"><a href="<%=url("admin/gateway/lgwlog/1")%>"><%:FreqINFO%></a></li>
        <li class="cbi-tab<%= mode ~= 2 and "-disabled" %>"><a href="<%=url("admin/gateway/lgwlog/2")%>"><%:Report%></a></li>
        <li class="cbi-tab<%= mode ~= 3 and "-disabled" %>"><a href="<%=url("admin/gateway/lgwlog/3")%>"><%:RxTxJson%></a></li>
        <li class="cbi-tab<%= mode ~= 4 and "-disabled" %>"><a href="<%=url("admin/gateway/lgwlog/4")%>"><%:ErrorMSG%></a></li>
</ul>

<form method="post" action="<%=url("admin/gateway/lgwlog_action")%>"">              
  <input type="hidden" name="family" value="<%=mode%>" />
</form>

<div id="content_syslog">
  <textarea readonly="readonly" wrap="off" rows="<%=sdata:cmatch("\n")+2%>" id="syslog"><%=sdata:pcdata()%></textarea>
</div>

<%+footer%>
